$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary: #00d900,
  secondary: #4caf50,
  danger: #f44336,
  light: #e9e9e9,
  dark:#3C4858,
  dark2: #222b37
);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

$fab-size: 80px;
$refresher-icon-color: color($colors, primary);
$refresher-icon-font-size: 40px;
$refresher-text-color: #fff;

$segment-button-md-icon-size: 3.5em;
$segment-button-ios-icon-size: 3.5em;