/*GLOBAIS*/
.item{
    padding-left: 0 !important;
    font-size: .9em !important;
    font-weight: 100 !important;
}
.item p, .item-radio ion-label.label{
    font-size: 1.1em;
}
.sem-fundo{
    background: none !important;
}
.sem-borda, .sem-borda .item-inner{
    border: none !important;
}
.button-block{
    padding: 25px 0 25px 0 !important;
    font-weight: bold !important;
}
.img-user-top{
    height: 30px !important;
}
.padding-left, .item-checkbox .item-inner{
    padding-left: 15px !important;
}
.padding-input{
    font-size: 1.6em !important;
}
.btn-padding{
    padding: 30px 13px 30px 13px !important;
}

.tachado{
    text-decoration: line-through !important;
}

/*SEGMENT*/
.segment .segment-button,
.segment .segment-button.segment,
.segment .segment-button.activated,
.segment .segment-button.segment-activated{
    border: none !important;
    height: auto !important;
    padding: 10px 10px 0px 10px;
    border-radius: 5em !important;
}
.segment .segment-button.activated,
.segment .segment-button.segment-activated{
    background: color($colors, primary);
    color: color($colors, dark);
}

/*ALERT*/
.alert-head{
    color: color($colors, dark);
    padding: 5px 20px 5px 20px !important;
}
.alert-title{
    font-size: 3em;
}
.alert-message{
    padding: 0 20px 10px 20px !important;
}
.alert-button-group{
    padding: 0 !important;
}
.alert-head::before{
    color: color($colors, primary);
    content: "\f19f";
    font-family: "Ionicons";
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    display: block;
    text-align: center;
}
.alert-head h2, .alert-message{
    display: block;
    text-align: center;
}
.info-box{
    border-radius: 10px !important;

    ion-icon:before{
        font-size: 2em;
    }
}

/*BTN*/
.button-large{
    padding-top: 35px !important;
    padding-bottom: 30px !important;
    font-size: 1.1em !important;
}

/*INPUTS*/
.item-label-stacked .input-wrapper,
.item-label-floating .input-wrapper{
    padding: 0 15px 0 15px !important;
}

/*HEADER PADRAO*/
.toolbar-background{
    background: color($colors, primary);
}
.logo-header{
    padding: 0 0 0 15px;
    height: 25px !important;
}
.bar-button-default,
.bar-button-clear-default,
.bar-button-default{
    color: color($colors, light) !important;
}

/*CORES*/
.fundo-primary{
    background: color($colors, primary) !important;
}
.fundo-dark{
    background: color($colors, dark) !important;
}
.fundo-dark2{
    background: color($colors, dark2) !important;
}

.cor-primary{
    color: color($colors, primary) !important;
}
.cor-light{
    color: color($colors, light) !important;
}

.btLogout{
    display: block;
    text-align: center;
}
.btLogout ion-icon{
    font-size: 7em;
    margin-top: 2em;
}

/*PAGINA LOGIN*/
page-login{

    .fundo-login{
        background-size: cover !important;
    }
    .logo{
        margin-top: 35% !important;
        left: 50%;
        margin-left: -35%;
        width: 70%;
        position: relative;
    }

    .area-login{
        position: relative;
        //top: 15rem !important;
        margin-top: 25% !important;
    }
    .text-input{
        color: #fff;
        font-size: 1.5em;
    }
    .icon-pass{
        padding-top:25px !important;
        color: #00E923;
        position: relative;
        z-index: 9999999;
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-right: -15px !important;
    }

}

/*PAGINA HOME*/
page-home{
    ion-list{
        margin-top: -20px !important;
    }
    .img-menu{
        width: 30%;
        position: relative;
        left: 36%;
    }
    .txt-menu{
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em !important;
        padding: 1em 0 1em 0;
        color: #fff;
    }
    .list .item-block .item-inner:first-child{
        border: none !important;
    }
}

.header-page-bg {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    top: -30px;
    width: 100% !important;
    box-shadow: none !important;
    background: none !important;
  }

  .card-title {
    position: absolute;
    top: 26%;
    font-size: 1.7em;
    width: 100%;
    font-weight: bold;
    color: #fff;

    .button-inner{
        font-size: 1.2em;
        font-weight: bold;
    }
  }

  .card-subtitle {
    font-size: .6em;
    padding-top: 8px;
    font-weight: normal;
    position: relative;
    display: block;
    width: 100%;
    color: #fff;
  }

}

.bt-confirma-pedido{
    position: absolute;
    z-index: 9999999;
    bottom: 0;
    margin-right: 7px;

    ion-icon:before{
        font-size: 2em;
    }
}

.sts-produto{
    margin-top: 13px;
}

/*DESIGN PAPAER*/
.comanda-design{
    position: relative;
    display: block;

    .paper-top{
        width: 100%;
        min-height: 65px;
        background-image: url('../assets/imgs/paper_top.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        margin-bottom: -2px;
    }
    .paper-bottom{
        width: 100%;
        min-height: 65px;
        background-image: url('../assets/imgs/paper_bottom.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        margin-top: -2px;
    }
    .paper-content{
        width: 100%;
        min-height: 100px;
        padding: 1em;
        background: #ffff8c;
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

        h1, h2, h3, h4, h5, h6{
            font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
            font-weight: bold;
        }

        ion-item{
            background: none !important;
        }
        .list .item-block .item-inner{
            border-color: color($colors, dark2);
        }

        .qtd-itens{
            font-size: 1.9rem;
            margin-right: -10px;

            .num-qtd{
                top: 5px;
                position: relative;
            }

            ion-icon:before{
                font-size: 2.4em;
            }
        }
    }
}

.input-busca{
    margin-top: -15px;
    .searchbar-search-icon{
        top: 20px !important;
    }
    input{
        padding: 15px 10px 15px 10px !important;
        padding-left: 50px !important;
        font-size: 1.3em !important;
        border-radius: 0 !important;
        border-bottom: 2px solid color($colors, primary);
        /* padding-top: 9px !important;
        padding-bottom: 9px !important; */
    }
}

/************
MODAL
*************/
ion-modal{
    border:2em solid rgba(34, 43, 55, 0.9);
}

/************
FOOTER
*************/
ion-footer{
    background: color($colors, light);
}

.lista-itens-comanda{

    .col-light{
        border-left: 1px dashed color($colors, light) !important;
    }

    .button-md{
        position: absolute;
        right: 0 !important;
        padding: 0 !important;
        margin-top: -0.8rem !important;
        font-size: 2rem !important;

        ion-icon:before{
            font-size: 4rem !important;
        }
    }
}

.zebra{
    background: #f9f9f9;
}
